<div class="stats-container card">
  <div class="panel-header">
    <h2>🛡️ Statystyki drużyn (cała liga)</h2>
  </div>

  @if (isLoading()) {
    <div class="loader-wrapper"><spoda-loader></spoda-loader></div>
  } @else if (statsData()) {
    <div class="stats-content animate-in">

      @if (statsData()!.mapPoints.length > 0) {
        <div class="stats-section map-section">
          <h3 class="section-title">🌍 Mapa Klubów</h3>
          <div class="map-wrapper" #mapContainer></div>
        </div>
      }

      <div class="stats-section leaderboards-section">
        <h3 class="section-title">📊 Klasyfikacje Drużyn (Min. 5 meczów w lidze... no chyba, że nikt nie ma 5 to
          wtedy nie)</h3>

        <div class="leaderboards-grid">

          <div class="leaderboard-block">
            <h4 class="board-title">✅ KS Wygrywy  </h4>
            <div class="subtitle">Najwięcej wygranych %</div>
            <ul class="leaderboard-list">
              @for (t of statsData()!.leaderboards.highestWinRatio; track t.teamId; let i = $index) {
                <li [class.top-three]="i < 3">
                  <span class="rank">{{ i + 1 }}.</span>
                  <img class="crest" [src]="getTeamCrest(t.assetId)" />
                 <span class="name" [title]="t.alias">
  {{ t.alias.length > 20 ? (t.alias | slice:0:20) + '...' : t.alias }} ({{ t.matches }})
</span>
                  <span class="value win-color">{{ (t.winRatio * 100) | number:'1.0-0' }}%</span>
                </li>
              }
            </ul>
          </div>

          <div class="leaderboard-block">
            <h4 class="board-title">❌ KS Przegrywy</h4>
            <div class="subtitle">Najmniej wygranych %</div>
            <ul class="leaderboard-list">
              @for (t of statsData()!.leaderboards.lowestWinRatio; track t.teamId; let i = $index) {
                <li [class.top-three]="i < 3">
                  <span class="rank">{{ i + 1 }}.</span>
                  <img class="crest" [src]="getTeamCrest(t.assetId)" />
                 <span class="name" [title]="t.alias">
  {{ t.alias.length > 20 ? (t.alias | slice:0:20) + '...' : t.alias }} ({{ t.matches }})
</span>
                  <span class="value lose-color">{{ (t.winRatio * 100) | number:'1.0-0' }}%</span>
                </li>
              }
            </ul>
          </div>

          <div class="leaderboard-block">
            <h4 class="board-title">⚽Do przodka</h4>
            <div class="subtitle">Średnia Goli Strzelonych</div>
            <ul class="leaderboard-list">
              @for (t of statsData()!.leaderboards.highestAvgScored; track t.teamId; let i = $index) {
                <li>
                  <span class="rank">{{ i + 1 }}.</span>
                  <img class="crest" [src]="getTeamCrest(t.assetId)" />
                 <span class="name" [title]="t.alias">
  {{ t.alias.length > 20 ? (t.alias | slice:0:20) + '...' : t.alias }} ({{ t.matches }})
</span>
                  <span class="value">{{ t.avgScored | number:'1.1-1' }}</span>
                </li>
              }
            </ul>
          </div>

          <div class="leaderboard-block">
            <h4 class="board-title">🥅 Do tyłka</h4>
            <div class="subtitle">Średnia Goli Straconych</div>
            <ul class="leaderboard-list">
              @for (t of statsData()!.leaderboards.lowestAvgConceded; track t.teamId; let i = $index) {
                <li>
                  <span class="rank">{{ i + 1 }}.</span>
                  <img class="crest" [src]="getTeamCrest(t.assetId)" />
                 <span class="name" [title]="t.alias">
  {{ t.alias.length > 20 ? (t.alias | slice:0:20) + '...' : t.alias }} ({{ t.matches }})
</span>
                  <span class="value">{{ t.avgConceded | number:'1.1-1' }}</span>
                </li>
              }
            </ul>
          </div>

          <div class="leaderboard-block">
            <h4 class="board-title">🧤 Top ręczniki</h4>
            <div class="subtitle">Średnia Goli Straconych</div>
            <ul class="leaderboard-list">
              @for (t of statsData()!.leaderboards.highestAvgConceded; track t.teamId; let i = $index) {
                <li>
                  <span class="rank">{{ i + 1 }}.</span>
                  <img class="crest" [src]="getTeamCrest(t.assetId)" />
                 <span class="name" [title]="t.alias">
  {{ t.alias.length > 20 ? (t.alias | slice:0:20) + '...' : t.alias }} ({{ t.matches }})
</span>
                  <span class="value">{{ t.avgConceded | number:'1.1-1' }}</span>
                </li>
              }
            </ul>
          </div>

          <div class="leaderboard-block">
            <h4 class="board-title">🤝 Gramy na remis</h4>
            <div class="subtitle">Najwięcej Remisów</div>
            <ul class="leaderboard-list">
              @for (t of statsData()!.leaderboards.mostDraws; track t.teamId; let i = $index) {
                <li>
                  <span class="rank">{{ i + 1 }}.</span>
                  <img class="crest" [src]="getTeamCrest(t.assetId)" />
                 <span class="name" [title]="t.alias">
  {{ t.alias.length > 20 ? (t.alias | slice:0:20) + '...' : t.alias }} ({{ t.matches }})
</span>
                  <span class="value">{{ t.draws }}</span>
                </li>
              }
            </ul>
          </div>

          <div class="leaderboard-block">
            <h4 class="board-title">❤️ Własne drużyny </h4>
            <div class="subtitle">Najczęściej wybierane zespoły</div>
            <ul class="leaderboard-list">
              @for (t of statsData()!.leaderboards.mostPlayed; track t.teamId; let i = $index) {
                <li>
                  <span class="rank">{{ i + 1 }}.</span>
                  <img class="crest" [src]="getTeamCrest(t.assetId)" />
                 <span class="name" [title]="t.alias">
  {{ t.alias.length > 20 ? (t.alias | slice:0:20) + '...' : t.alias }} ({{ t.matches }})
</span>
                  <span class="value">{{ t.matches }}</span>
                </li>
              }
            </ul>
          </div>

        </div>
      </div>
    </div>
  } @else {
    <div class="empty-state">Brak danych drużynowych.</div>
  }
</div>
