<div class="dashboard-container">
  <app-header title="Centrum ligowe"></app-header>

  <div class="grid-layout">
    <section class="card leagues-panel">
      <h2>Twoje Ligi</h2>

      <div class="league-list">
        @for (liga of leagues; track liga.id) {
          <div class="league-item">
            <div class="league-info">
              <strong>{{ liga.name }}</strong>
            </div>

            <div class="league-actions">
              <span class="status" [class.active]="liga.status === 'ACTIVE'">
                {{ liga.status === 'ACTIVE' ? 'Aktywna' : 'Zakończona' }}
              </span>
              <button class="btn-primary btn-sm" [routerLink]="['/league', liga.id]">Otwórz</button>
            </div>
          </div>
        } @empty {
          <div class="empty-state">
            Nie masz jeszcze żadnych lig. Czas rozpocząć zabawę!
          </div>
        }
      </div>

      <button class="btn-add" (click)="addNewLeague()">+ Dodaj nową ligę</button>
    </section>

    <section class="card recent-panel">
      <h2>Ostatnia Aktywność</h2>
      <ul class="recent-list">
        <li>
      </ul>
    </section>
  </div>

</div>
